<MudText Align="Align.Center" Typo="Typo.h4" Color="Color.Primary">
	Welcome to Crm Light Demo created with
	<br /> BlazorForms and Material design.
</MudText>

<MudPaper Elevation="3" Class="my-5 py-5">
	<MudText Align="Align.Center">
		Feel free to visit
		<MudLink Href="https://www.procoders.com.au" 
				 Target="_blank" Typo="Typo.h6">
			Pro Coders
		</MudLink>
		website.
	</MudText>
</MudPaper>

<p style="text-align:center;" >
	@*<img src="/assets/CodeMazeShopImage.png" alt="products image for the Home component" />*@
</p>

@code {

}
