@page "/OrderDelete/{Id:int}"
@using Platz.SqlForms.Demo.SchemaForms

<h1>Order Delete</h1>

<FormDynamicEditComponent TForm="OrderForm" Id="@Id" ForDelete="true"/>

@code {
    [Parameter]
    public int Id { get; set; }
}

