@page "/OrderItemEdit/{OrderItemId:int}/{OrderId:int}"
@using Platz.SqlForms.Demo.SchemaForms

<h1>Order Item</h1>

<FormDynamicEditComponent TForm="OrderReadOnlyForm" Id="@OrderId" ReadOnly="true" />
<FormDynamicEditComponent TForm="OrderItemForm" Id="@OrderItemId" ServiceParameters="new object[] { OrderId }" />

@code {
    [Parameter]
    public int OrderItemId { get; set; }

    [Parameter]
    public int OrderId { get; set; }
}
