@page "/EnrollmentEdit/{EnrollmentId:int}/{StudentId:int}"

<h1>Student Enrollment Edit</h1>

<FormDynamicEditComponent TForm="StudentHeaderForm" Id="@StudentId" />
<FormDynamicEditComponent TForm="EnrollmentEditForm" Id="@EnrollmentId" ServiceParameters="new object[] { StudentId }" />

@code {
    [Parameter]
    public int EnrollmentId { get; set; }

    [Parameter]
    public int StudentId { get; set; }
}
